body {
	background-color: #1a1a1a;
	margin: 0;
	color: white;
	font-size: 100%;
	font-family: Consolas, monaco, monospace;
}

#navbar {
	overflow: hidden;
	background-color: #666666;
}

#navbar input[type=submit] {
	float: left;
	margin-top: 0.5%;
	margin-left: 0.3%;
	height: 33px;
}


#navbar input[type=text] {
	float: left;
	padding: 0.2%;
	margin-top: 0.5%;
	margin-left: 0.5%;
	font-size: 100%;
}

#navbar a:not(img) {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 0.8% 1%;
	text-decoration: none;
	font-size: 100%;
}

#navbar a:not(img):hover {
	background-color: #ddd;
	color: black;
}

#navbar a.active {
	background-color: #000000;
	color: white;
}

#center {
	background-color: #262626;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 5%;
	padding-top: 15px;
	min-height: 800px;
	text-align: center;
}

#center a, p {
	line-height: 1.6;
}

.footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #0d0d0d;
	color: #404040;
	font-size: 80%;
	min-height: 100px;
}

.footer p {
	text-align: center;
	margin-right: 4%;
	margin-left: 4%;
}

.content {
	padding: 16px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 9%;
}

html {
	scroll-behavior: smooth;
}

input {
	background-color: white;
	height: 25px;
}

.centerTable {
	margin-left: auto;
	margin-right: auto;
}

.logo {
	display: block;
	width: 170px;
	height: 40px;
	margin-top: 5px;
	margin-bottom: 1px;
	background-size: cover;
	background-image: url("../img/lyrinx_logo.svg");
}

.filter-invert {
	filter: invert(100%);
}

.filter {
	filter: sepia(30%) hue-rotate(170deg) saturate(500%);
}

hr {
	margin-left: 4%;
	margin-right:4%;
	border-color: #484848;
}

textarea {
	resize:vertical;
}

.container {
    padding: 20px;
}

#centerPesme {
	background-color: #262626;
	display: inline-block;
	width: 70%;
    padding: 20px;
    min-height: 800px;
    margin-right: 5%;
    margin-bottom: 10%;
}

#centerKomentar {
	background-color: #262626;
	display: inline-block;
	width: 70%;
    padding: 20px;
    min-height: 800px;
    margin-right: 5%;
    margin-bottom: 10%;
}

#centerKomentar a {
color: white;
text-decoration: none;
}

#centerKomentar a:active {
    color: white;
}

#centerKomentar a[tabindex]:focus {
    color:blue;
    outline: none;
}

.album {
	background-color: #262626;
	vertical-align:top;
	display: inline-block;
	font-size: 80%;
	margin-top: 10%;
	width: 15%;
    padding: 20px;
}

#center img {
	margin-right: 30%;
}
